<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682658252431-h8c3q627dtmc5126381mgircegedjvl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682658252431-h8c3q627dtmc5126381mgircegedjvl7</string>
	<key>API_KEY</key>
	<string>AIzaSyBbLeqylpf0BnmxJRN1wkyj-aUXHs4D0l4</string>
	<key>GCM_SENDER_ID</key>
	<string>682658252431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.d92Shift</string>
	<key>PROJECT_ID</key>
	<string>d92-shift</string>
	<key>STORAGE_BUCKET</key>
	<string>d92-shift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682658252431:ios:1738410e4b8c633cd412fa</string>
</dict>
</plist>